{
  "Debug": true,
  "ListenAddress": ":3000",
  "MySQLTopologyUser": "msandbox",
  "MySQLTopologyPassword": "msandbox",
  "MySQLTopologyCredentialsConfigFile": "",
  "MySQLOrchestratorHost": "127.0.0.1",
  "MySQLOrchestratorPort": 5622,
  "MySQLOrchestratorDatabase": "orchestrator",
  "MySQLOrchestratorUser": "msandbox",
  "MySQLOrchestratorPassword": "msandbox",
  "MySQLOrchestratorCredentialsConfigFile": "",
  "MySQLConnectTimeoutSeconds": 1,
  "MySQLTopologyMaxPoolConnections": 3,
  "SlaveLagQuery": "",
  "DiscoverByShowSlaveHosts": true,
  "DiscoveryPollSeconds": 5,
  "InstancePollSeconds": 12,
  "InstanceBulkOperationsWaitTimeoutSeconds":10,
  "ActiveNodeExpireSeconds": 20,
  "HostnameResolveMethod": "default",
  "MySQLHostnameResolveMethod": "default",
  "ExpiryHostnameResolvesMinutes": 60,
  "RejectHostnameResolvePattern": "",
  "UnseenInstanceForgetHours": 240,
  "CandidateInstanceExpireMinutes": 60,
  "SnapshotTopologiesIntervalHours": 0,
  "ReasonableReplicationLagSeconds": 10,
  "VerifyReplicationFilters": false,
  "ReasonableMaintenanceReplicationLagSeconds": 20,
  "AuditLogFile": "/tmp/orchestrator-audit.log",
  "AuditPageSize": 20,
  "SlaveStartPostWaitMilliseconds": 1000,
  "ReadOnly": false,
  "AuthenticationMethod": "",
  "HTTPAuthUser": "",
  "HTTPAuthPassword": "",
  "AuthUserHeader": "",
  "PowerAuthUsers": ["*"],
  "ClusterNameToAlias": {
    "127.0.0.1": "test suite"
  },
  "DetectClusterAliasQuery": "select substring_index(@@hostname, '.', 1)",
  "DataCenterPattern": "[.]([^.]+)[.][^.]+[.]booking[.]com",
  "PhysicalEnvironmentPattern": "[.]([^.]+[.][^.]+)[.]booking[.]com",
  "RemoveTextFromHostnameDisplay": ".booking.com:3306",
  "ServeAgentsHttp": false,
  "AgentsUseSSL": false,
  "SSLSkipVerify": false,
  "SSLPrivateKeyFile": "",
  "SSLCertFile": "",
  "AgentPollMinutes": 60,
  "UnseenAgentForgetHours": 6,
  "StaleSeedFailMinutes": 60,
  "SeedAcceptableBytesDiff": 8192,
  "PseudoGTIDPattern": "drop view if exists .*?`_pseudo_gtid_hint__",
  "PseudoGTIDMonotonicHint": "asc:",
  "DetectPseudoGTIDQuery": "select count(*) as pseudo_gtid_exists from meta.pseudo_gtid_status where anchor = 1 and time_generated > now() - interval 2 day",
  "BinlogEventsChunkSize": 10000,
  "RecoveryPeriodBlockMinutes": 60,
  "PromotionIgnoreHostnameFilters": [
  ], 
  "OSCIgnoreHostnameFilters": [
  ],
  "RecoveryIgnoreHostnameFilters": [
  ],
  "RecoverMasterClusterFilters": [
  	"kvmuser__"
  ],
  "RecoverIntermediateMasterClusterFilters": [
  	"kvmuser__"
  ],
  "OnFailureDetectionProcesses": [
  	"echo 'Detected {failureType} on {failureCluster}. Affected slaves: {countSlaves}' >> /tmp/recovery.log"
  ], 
  "PreFailoverProcesses": [
  	"echo 'Will recover from {failureType} on {failureCluster}' >> /tmp/recovery.log"
  ],
  "PostFailoverProcesses": [
  	"echo '(for all types) Recovered from {failureType} on {failureCluster}. Failed: {failedHost}:{failedPort}; Successor: {successorHost}:{successorPort}' >> /tmp/recovery.log"
  ],
  "PostMasterFailoverProcesses": [
  	"echo 'Recovered from {failureType} on {failureCluster}. Failed: {failedHost}:{failedPort}; Promoted: {successorHost}:{successorPort}' >> /tmp/recovery.log"
  ],
  "PostIntermediateMasterFailoverProcesses": [
  	"echo 'Recovered from {failureType} on {failureCluster}. Failed: {failedHost}:{failedPort}; Successor: {successorHost}:{successorPort}' >> /tmp/recovery.log"
  ]
}

