<style type="text/css">

</style>

<div class="container" id="seed">
  <div class="panel panel-default">
    <div class="panel-heading">
      Seed <strong><span>{{.seedId}}</span></strong>
    </div>
    <div class="panel-body">
      <div class="seed_details panel panel-default">
        <div class="panel-heading">
          Seed details
        </div>
        <table class="table table-condensed table-bordered table-striped ">
          <thead>
            <tr>
              <th>Id</th>
              <th>Status</th>
              <th>Target host</th>
              <th>Source host</th>
              <th>Seed method</th>
              <th>Seed stage</th>
              <th>Retries</th>
              <th>Last update time</th>
              <th>Start time</th>
              <th>End time</th>
            </tr>
          </thead>
          <tbody id="seed_details"></tbody>
        </table>
      </div>
    </div>
    <div class="panel-body">
      <div class="seed_states panel panel-default">
        <div class="panel-heading">
          Seed states
        </div>
        <table class="table table-condensed table-bordered table-striped ">
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Stage</th>
              <th>Hostname</th>
              <th>Status</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody id="seed_states"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  function currentSeedId() {
    return "{{.seedId}}";
  }
</script>
<script src="{{.prefix}}/js/seed.js"></script>
<script src="{{.prefix}}/js/seed-shared.js"></script>
