
<div class="container">
    <div class="row">
	    <div class="col-xs-4">
		    <div class="panel panel-default">
		        <div class="panel-heading">
		            Agent: <strong><span data-agent="hostname"></span></strong>
		        </div>
		        <table class="table">
		            <tr><td>Hostname</td><td data-agent="hostname_search"></td></tr>
		            <tr><td>Port</td><td data-agent="port"></td></tr>
                    <tr><td>Last submitted</td><td data-agent="last_submitted"></td></tr>
                    <tr><td>MySQL running</td><td data-agent="mysql_running"></td></tr>
		        </table>
		    </div>
	    </div>
	    <div class="col-xs-6">
		    <div class="panel panel-default">
		        <div class="panel-heading">
		            Snapshots
		        </div>
		        <table class="table">
                    <tr><td>Available locally</td><td><table class="table table-condensed table-unbordered" data-agent="available_local_snapshots"></table></td></tr>
                    <tr><td>Available remote</td><td><table class="table table-condensed table-unbordered" data-agent="available_remote_snapshots"></table></td></tr>
                    <tr><td>Snapshots taken on this host</td><td><table class="table table-condensed table-unbordered" data-agent="lv_snapshots"></table></td></tr>
                    <tr><td>Mounted snapshot</td><td><table class="table table-condensed table-unbordered"><tr data-agent="mount_point"></tr></table></td></tr>
		        </table>
		    </div>
	    </div>
    </div>
</div>

<script>
    function currentAgentHost() {
        return "{{.agentHost}}";
    }
</script>
<script src="/js/agent.js"></script>
