<style type="text/css">

</style>

<div class="container" id="agent">
  <div class="panel panel-default">
    <div class="panel-heading">
      Agent: <strong><span>{{.agentHost}}</span></strong>
    </div>
    <div class="panel-body">
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Info
          </div>
          <table class="table agent-table">
            <tr>
              <td>Hostname</td>
              <td id="agent_hostname"></td>
            </tr>
            <tr>
              <td>Port</td>
              <td id="agent_port"></td>
            </tr>
            <tr>
              <td>Cluster</td>
              <td id="agent_cluster_name"></td>
            </tr>
            <tr>
              <td>Status</td>
              <td id="agent_status"></td>
            </tr>
            <tr>
              <td>Last seen</td>
              <td id="agent_last_seen"></td>
            </tr>
            <tr>
              <td>OS</td>
              <td id="agent_os"></td>
            </tr>
            <tr>
              <td>CPU</td>
              <td id="agent_cpu"></td>
            </tr>
            <tr>
              <td>RAM</td>
              <td id="agent_ram"></td>
            </tr>
            <tr>
              <td>Availiable seed methods</td>
              <td id="agent_avaliable_seed_methods"></td>
            </tr>
            <tr id="agent_commands_container">
              <td>Agent commands</td>
              <td id="agent_commands"></td>
            </tr>
            <tr>
              <td>Backup directory</td>
              <td id="agent_backup_dir"></td>
            </tr>
            <tr>
              <td>Backup directory disk usage</td>
              <td id="agent_backup_dir_used"></td>
            </tr>
            <tr>
              <td>Backup directory disk free</td>
              <td id="agent_backup_dir_free"></td>
            </tr>
            <tr>
              <td>MySQL version</td>
              <td id="agent_mysql_version"></td>
            </tr>
            <tr>
              <td>MySQL running</td>
              <td id="agent_mysql_running"></td>
            </tr>
            <tr>
              <td>MySQL port</td>
              <td id="agent_mysql_port"></td>
            </tr>
            <tr>
              <td>MySQL datadir</td>
              <td id="agent_mysql_datadir"></td>
            </tr>
            <tr>
              <td>MySQL disk usage</td>
              <td id="agent_mysql_disk_usage"></td>
            </tr>
            <tr>
              <td>MySQL disk free</td>
              <td id="agent_mysql_disk_free"></td>
            </tr>
            <tr>
              <td>Error log tail</td>
              <td id="agent_error_log_tail"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            New seed
          </div>
          <div class="panel-body">
            <div class="form-group" id="agent_new-seed-from">
              <div class="input-group" id="agent_seed_hostname_input">
                <div class="input-group-btn" id="new-seed-selector">
                  <select class="form-control" id="agent_seed_side">
                    <option>Seed from</option>
                    <option>Seed to</option>
                  </select>
                </div>
                <span class="agent-filter-empty-space input-group-addon"></span>
                <input class="form-control agent-filter" id="agent_seed_hostname" type="text" placeholder="Enter hostname">
              </div>
            </div>
            <div class="form-inline" id="agent_seed_method_container">
              <label for="category" id="agent_seed_method_label">
                Seed Method:
              </label>
              <select class="form-control" id="agent_seed_seed_method">
              </select>
            </div>
            <div class="input-group" id="agent_start_seed_button_container">
              <button id="agent_start_seed_button" class="btn btn-success" type="button">
                Start seed
              </button>
            </div>
          </div>
        </div>
        <div class="panel panel-default" id="agent_databases_container">
          <div class="panel-heading">
            Databases
          </div>
          <table class="table agent-table" id="agent_databases">
          </table>
        </div>
      <div class="panel panel-default" id="agent_snapshots_info_container">
        <div class="panel-heading">
          Snapshots
        </div>
        <table class="table agent-table" id="agent_snaphots_data">
        </table>
    </div>

    </div>
  </div>

  <div class="panel-body">
    <div id="agent_active_seeds_container" class="panel panel-default">
      <div class="panel-heading">
        Active seeds
      </div>
      <table class="table table-condensed table-bordered table-striped ">
        <thead>
          <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Target host</th>
            <th>Source host</th>
            <th>Seed method</th>
            <th>Seed stage</th>
            <th>Retries</th>
            <th>Last update time</th>
            <th>Start time</th>
            <th>End time</th>
          </tr>
        </thead>
        <tbody id="agent_active_seeds"></tbody>
      </table>
    </div>
  </div>

  <div class="panel-body">
    <div id="agent_active_seeds_states_container" class="panel panel-default">
      <div class="panel-heading">
        Active seed states
      </div>
      <table class="table table-condensed table-bordered table-striped ">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Stage</th>
            <th>Hostname</th>
            <th>Status</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody id="seed_states"></tbody>
      </table>
    </div>
  </div>
  <div class="panel-body">
    <div id ="agent_recent_seeds_container" class="panel panel-default">
      <div class="panel-heading">
        Recent seeds
      </div>
      <table class="table table-condensed table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Target host</th>
            <th>Source host</th>
            <th>Seed method</th>
            <th>Seed stage</th>
            <th>Retries</th>
            <th>Last update time</th>
            <th>Start time</th>
            <th>End time</th>
          </tr>
        </thead>
        <tbody id="agent_recent_seeds"></tbody>
      </table>
    </div>
  </div>
</div>
</div>

<script>
  function currentAgentHost() {
    return "{{.agentHost}}";
  }
</script>
<script src="{{.prefix}}/js/agent.js"></script>
<script src="{{.prefix}}/js/seed-shared.js"></script>
<script src="{{.prefix}}/js/discover.js"></script>