
<style type = "text/css">
    #clusters .popover.instance {
        display: inline-block;
        position: inherit;
        width: 276px;
    }
    
    #clusters .popover.instance {
       margin: 8px;
    }
    
    #clusters .popover.instance p {
       margin: 8px 0px;
    }
    
</style>

<div class="container" id="clusters">
</div>


<script>
	function removeTextFromHostnameDisplay() {
	    return "{{.removeTextFromHostnameDisplay}}";
	}
</script>
<script src="/js/clusters.js"></script>
