<!doctype html>
	<html>
	    <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
	    <title>Orchestrator - {{.title}}</title>
        <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
        <style type="text/css">
            body {
                padding-top: 70px;
            }
            .navbar-brand {
                padding: 4px 15px;
            }
        </style>

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	    </head>
    <body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="https://github.com/outbrain/orchestrator"><img src="/images/outbrain-logo-s.png" alt="outbrain"><br/>orchestrator</a>
				
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
		            <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Clusters
                            <b class="caret"></b> 
		                </a>
		                <ul class="dropdown-menu" id="dropdown-clusters"></ul>
		            </li>
		            <form class="navbar-form navbar-left" role="search">
    			        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
			            </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container">	
		<div class="row" id="main_container">{{yield}}</div>
	</div>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function() {
			$.get("/api/clusters", function(clusters) {
				clusters.forEach(function(cluster) {                      
			        $("#dropdown-clusters").append('<li><a href="/web/cluster/'+cluster+'">'+cluster+'</a></li>');
			    });                    
			}, "json");
		});
	</script>
</body>
</html>

