<!doctype html>
	<html>
	    <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
	    <title>Orchestrator - {{.title}}</title>
        <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
        <script src="/js/orchestrator.js"></script>
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/orchestrator.css" rel="stylesheet">
        
        <style type="text/css">
            body {
                padding-top: 80px;
                background-color: #eeeeee;
                background-image:url('/images/tile.png');
                background-repeat:repeat;
            }
            .navbar-brand {
                padding: 4px 15px;
            }

			.table {
			    font-size: 13px;
			}
			#ajaxLoader {
                visibility: hidden;
			}
        </style>

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	    </head>
    <body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="https://github.com/outbrain/orchestrator"><img src="/images/outbrain-logo-s.png" alt="outbrain"><br/>orchestrator</a>
				
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
                    <li><a href="#" id="ajaxLoader"><img src="/images/ajax-loader.gif"/></a></li>
					<li class="active"><a href="/web">Home</a></li>
					<li><a href="#about">About</a></li>
		            <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Clusters
                            <b class="caret"></b> 
		                </a>
		                <ul class="dropdown-menu" id="dropdown-clusters"></ul>
		            </li>
                    <li><a href="/web/discover">Discover</a></li>
		            <form class="navbar-form navbar-left" role="search" name="searchForm" action="/web/search">
    			        <div class="form-group">
                            <input type="text" name="s" id="searchInput" class="form-control input-sm" placeholder="Search">
			            </div>
                        <button type="submit" class="btn btn-default btn-sm">Search</button>
                    </form>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container" id="main_container">	
	    <div id="alerts_container" class="container">
	    </div>
	
		{{yield}}
		
	    <div class="modal fade" id="node_modal" tabindex="-1">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal"
	                        aria-hidden="true">&times;</button>
	                    <h4 class="modal-title"></h4>
	                </div>
	                <div class="modal-body">
	                    <div class="panel panel-info">
	                        <div class="panel-heading" data-panel-type="maintenance"></div>
	                        <div class="panel-body">
	                            <div class="" data-panel-type="begin-maintenance">
	                                <form class="form-inline" role="form">
	                                    <input type="text" class="form-control input-sm" id="beginMaintenanceOwner" placeholder="owner name" />
	                                    <input type="text" class="form-control input-sm" id="beginMaintenanceReason" placeholder="reason" />
	                                    <button type="button" class="btn btn-info pull-right" data-btn="begin-maintenance">
	                                        <span class="glyphicon glyphicon-wrench"></span> Begin maintenance
	                                    </button>
	                                </form>
	                            </div>
	                            <div class="" data-panel-type="end-maintenance">
	                                <div class="pull-left" data-description="maintenance-status">
	                                </div>
	                                <button type="button" class="btn btn-default pull-right" data-btn="end-maintenance">
	                                    <span class="glyphicon glyphicon-wrench"></span> End maintenance
	                                </button>
	                            </div>
	                        </div>
	                    </div>
	                    <table id="modalDataAttributesTable" class="table">
	                    </table>
	                </div>
	                <div class="modal-footer">
                        <button type="button" class="btn alert-danger" data-btn="forget-instance">Forget</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
	                </div>
	            </div>
	            <!-- /.modal-content -->
	        </div>
	        <!-- /.modal-dialog -->
	    </div>
	    <!-- /.modal -->
		
	</div>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootbox.min.js"></script>        
	<script>
		$(document).ready(function() {
			$.get("/api/clusters", function(clusters) {
				clusters.forEach(function(cluster) {                      
			        $("#dropdown-clusters").append('<li><a href="/web/cluster/'+cluster+'">'+cluster+'</a></li>');
			    });                    
			}, "json");
			$("#ajaxLoader").click(function() {
                return false;
            });
		});
        function showLoader() {
            $("#ajaxLoader").css('visibility', 'visible');
        }
        function hideLoader() {
            $("#ajaxLoader").css('visibility', 'hidden');
        }
	</script>
</body>
</html>

