<!doctype html>
	<html>
	    <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
	    <title>Orchestrator - {{.title}}</title>
        <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/jquery.cookie-1.4.1.min.js"></script>
        <script src="/js/orchestrator.js"></script>
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/orchestrator.css" rel="stylesheet">
        
        <style type="text/css">
            body {
                padding-top: 80px;
                background-color: #eeeeee;
                background-image:url('/images/tile.png');
                background-repeat:repeat;
            }
            .navbar-brand {
                padding: 4px 15px;
            }

			.table {
			    font-size: 13px;
			}
            .ajaxLoader {
                visibility: hidden;
            }
            #nav_agents {
                display: none;
            }
        </style>

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	    </head>
    <body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="https://github.com/outbrain/orchestrator"><img src="/images/outbrain-logo-s.png" alt="outbrain"><br/>orchestrator</a>
				
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
                    <li><a href="#" id="mainAjaxLoader" class="ajaxLoader"><img src="/images/ajax-loader.gif"/></a></li>
					<li class="dropdown" data-nav-page="home">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Home
                            <b class="caret"></b> 
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/web/about">About</a></li>
                            <li><a href="https://github.com/outbrain/orchestrator/wiki/Orchestrator-Manual" target="_blank">Manual</a></li>
                            <li><a href="https://github.com/outbrain/orchestrator/wiki/FAQ" target="_blank">FAQ</a></li>
                            <li><a href="/web/keep-calm">Keep calm</a></li>
		                    <li role="presentation" class="divider"></li>
                            <li><a href="/web/status">Status</a></li>
                        </ul>
                    </li>
					
		            <li class="dropdown" data-nav-page="cluster">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Clusters
                            <b class="caret"></b> 
		                </a>
		                <ul class="dropdown-menu" id="dropdown-clusters">
		                    <li><a href="/web/clusters/">Dashboard</a></li>
		                    <li><a href="/web/clusters-analysis/">Failure analysis</a></li>
		                    <li role="presentation" class="divider"></li>
		                </ul>
		            </li>
                                        
                    <li data-nav-page="discover"><a href="/web/discover">Discover</a></li>
                    <li class="dropdown" data-nav-page="audit">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Audit
                            <b class="caret"></b> 
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/web/audit">General</a></li>
                            <li><a href="/web/audit-failure-detection">Failure detection</a></li>
                            <li><a href="/web/audit-recovery">Recovery</a></li>
                        </ul>
                    </li>

                                        
                    <li class="dropdown" data-nav-page="extra">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Extra
                            <b class="caret"></b> 
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/web/agents">Agents</a></li>
                            <li><a href="/web/seeds">Seeds</a></li>
		                    <li role="presentation" class="divider"></li>
                            <li><a href="/web/long-queries">Long queries</a></li>
                        </ul>
                    </li>
                    
                    <li data-nav-page="search">
			            <form class="navbar-form navbar-left" role="search" name="searchForm" action="/web/search">
	    			        <div class="form-group">
	                            <input type="text" name="s" id="searchInput" class="form-control input-sm" placeholder="Search">
				            </div>
	                        <button type="submit" class="btn btn-default btn-sm">Search</button>
	                    </form>
                    </li>
                    <li class="dropdown" data-nav-page="context" style="visibility: hidden;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span> 
                        </a>
                        <ul class="dropdown-menu" id="dropdown-context">
                        </ul>
                    </li>
                    <li data-nav-page="read-only" style="display: none;">
                        <a name="read-only" title="read only mode"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </li>
                    <li data-nav-page="user-id" style="display: none;">
                        <a name="user-id"></a> 
                    </li>
                    <li data-nav-page="refreshCountdown"><a href="#" id="refreshCountdown" class="small"></a></li>
				</ul>
			</div>
	</div>
	
	<div class="container" id="main_container">
        <div id="alerts_container"></div>
	    <div class="pull-right" id="instance_problems">
			<div class="dropdown pull-right">
				<button type="button" id="instance_problems_button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Problems">
					<span class="glyphicon glyphicon-exclamation-sign"></span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				</ul>
			</div>	    
	    </div>
	
		{{yield}}
		
	    <div class="modal fade" id="node_modal" tabindex="-1">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal"
	                        aria-hidden="true">&times;</button>
	                    <h4 class="modal-title"></h4>
	                </div>
	                <div class="modal-body">
	                    <div class="panel panel-info">
	                        <div class="panel-heading" data-panel-type="maintenance"></div>
	                        <div class="panel-body">
	                            <div class="" data-panel-type="begin-maintenance">
	                                <form class="form-inline" role="form">
	                                    <input type="text" class="form-control input-sm" id="beginMaintenanceOwner" placeholder="owner name" />
	                                    <input type="text" class="form-control input-sm" id="beginMaintenanceReason" placeholder="reason" />
	                                    <button type="button" class="btn btn-info pull-right" data-btn="begin-maintenance">
	                                        <span class="glyphicon glyphicon-wrench"></span> Begin maintenance
	                                    </button>
	                                </form>
	                            </div>
	                            <div class="" data-panel-type="end-maintenance">
	                                <div class="pull-left" data-description="maintenance-status">
	                                </div>
	                                <button type="button" class="btn btn-default pull-right" data-btn="end-maintenance">
	                                    <span class="glyphicon glyphicon-wrench"></span> End maintenance
	                                </button>
	                            </div>
	                        </div>
	                    </div>
	                    <table id="modalDataAttributesTable" class="table">
	                    </table>
	                </div>
	                <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-btn="recover" title="Recover from failure"><span class="glyphicon glyphicon-heart"></span> Recover</button>
                        <button type="button" class="btn alert-success" data-btn="refresh-instance" title="Refresh instance status now"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                        <button type="button" class="btn btn-success" data-btn="start-slave"><span class="glyphicon glyphicon-play"></span> Start slave</button>

						<div class="btn-group" data-btn-group="stop-slave">
							<button type="button" class="btn btn-danger" data-btn="stop-slave" data-grouped="true">Stop slave</button>
							<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#" data-btn="stop-slave">Normal</a></li>
								<li><a href="#" data-btn="stop-slave-nice">Nicely</a></li>
							</ul>
						</div>
                        <button type="button" class="btn btn-danger" data-btn="skip-query" title="Skip a single query and resume replication">Skip query</button>
						<button type="button" class="btn btn-warning" data-btn="set-read-only"><span class="glyphicon glyphicon-eye-open"></span> Set read-only</button>
                        <button type="button" class="btn btn-warning" data-btn="set-writeable"><span class="glyphicon glyphicon-pencil"></span> Set writeable</button>
                        <button type="button" class="btn btn-danger" data-btn="reset-slave" title="Make this slave forget its master and stop replicating">Reset slave</button>
                        <button type="button" class="btn btn-info" data-btn="enslave-siblings" title="Enslave siblings of this slave">Enslave siblings</button>
                        <button type="button" class="btn btn-info" data-btn="move-up-slaves" title="Move up all slaves to become siblings of this instance">Move up slaves</button>
                        <button type="button" class="btn btn-info" data-btn="match-up-slaves" title="Match up all slaves to become siblings of this instance, via Pseudo-GTID">Match up slaves</button>
                        <button type="button" class="btn btn-info" data-btn="regroup-slaves" title="Pick candidate slave and have it enslave its siblings">Regroup slaves</button>
                        <button type="button" class="btn alert-danger" data-btn="forget-instance" title="Make orchestrator forget this instance. Orchestrator may auto-find it again."><span class="glyphicon glyphicon-remove"></span> Forget</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
	                </div>
	            </div>
	            <!-- /.modal-content -->
	        </div>
	        <!-- /.modal-dialog -->
	    </div>
	    <!-- /.modal -->
		
	</div>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootbox.min.js"></script>        
	<script>
        function autoshowProblems() {
            return "{{.autoshow_problems}}";
        }
        function activePage() {
            return "{{.activePage}}";
        }
        function agentsHttpActive() {
        	return "{{.agentsHttpActive}}";
        }
        function contextMenuVisible() {
        	return "{{.contextMenuVisible}}";
        }
		function isAuthorizedForAction() {
		    return "{{.authorizedForAction}}" == "true";
		}
		function getUserId() {
		    return "{{.userId}}";
		}
	</script>
    <script src="/js/instance-problems.js"></script>
</body>
</html>

