
<div class="container" id="long_queries">
    <div class="panel panel-default">
	    <div class="panel-body">
	    </div>
    </div>
</div>


<script>
    function currentFilter() {
        return "{{.filter}}";
    }
</script>
<script src="/js/long-queries.js"></script>
