
<style type = "text/css">
	#searchResults .popover.instance {
	    display: block;
	    position: inherit;
	    max-width: inherit;
	}
	
    #searchResults .popover.instance {
       margin: 8px;
    }
    
    #searchResults .popover.instance p {
       margin: 8px 0px;
    }
	
</style>

<div class="panel panel-default" id="searchResults">
</div>


<script>
	function currentSearchString() {
	    return "{{.searchString}}";
	}
</script>
<script src="/js/search.js"></script>
