
<div class="container" id="orchestratorStatus">
	<div class="panel panel-default">
	    <div class="panel-heading">
	        Status
	    </div>
	    <div class="panel-body">
	    	<table id="orchestratorStatusTable" class="table">
	    	</table>
		</div>
	    <div class="panel-footer">
		</div>
	</div>
</div>

<script src="/js/status.js"></script>
