
#alerts_container .alert {
    margin-bottom: 4px;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
    cursor: pointer;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.node .nodeWrapper {
    font: 10px sans-serif;
    width: 276px;
}

.popover.instance {
    font: 10px sans-serif;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.popover.instance[data-duplicate-node] {
    position: absolute;
}
  
.popover.instance h3 {
    font-size: 10px;
    padding: 2px 8px;
}

.popover.instance h3 .glyphicon {
    position: inherit;
    cursor: pointer;
}

.popover.instance h3.label-info {
    background-color: #5bc0de;
    color: #ffffff;
}

.popover.instance h3.label-info .glyphicon {
    color: #ffffff;
}

.popover.instance h3.label-warning {
  background-color: #f0ad4e;
}

.popover.instance h3.label-danger {
  background-color: #d9534f;
  color: #ffffff;
}
.popover.instance h3.label-danger .glyphicon {
  color: #ffffff;
}

.popover.instance h3.label-primary {
  background-color: #428BCA;
  color: #ffffff;
}
.popover.instance h3.label-primary .glyphicon {
  color: #ffffff;
}

.popover.instance div.popover-content {
    padding: 4px 8px;
}
.popover.instance div.popover-content p {
    margin-bottom: 0px;
}

.popover.instance.draggable-hovers {
    background-color: #f7f7f7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.66);
}
.popover.instance.draggable-hovers h3 {
    background-color: #e0e0e0;
    color: inherit;
}


.modal-content {
    font-size: 12px;
}

.modal-content .btn {
    font-size: 11px;
    line-height: 16px;
    padding: 5px 9px;
}

.bootbox .modal-body {
    padding: 12px;
}

.bootbox .modal-footer {
    padding: 12px;
}
